/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    width:10%; 
    height:5%;
    border-radius: 50%;
}

/* Style sections */
section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

h2 {
    margin-bottom: 10px;
}

/* Style contact information */
ul {
    list-style: none;
}

/* Style footer */
footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
